*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  
  body{
    height: 100vh;
    background: linear-gradient(0deg,rgba(110, 26, 26, 0.842) 50%, rgb(37, 36, 36) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .floating-text{
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 900;
    letter-spacing: 6px;
    color: rgb(238, 238, 238);
    transform: translateY(0);
    animation: fl1 3s infinite linear;
    background-color: #00000005;
  }
  
  .floating-text::before{
    content: attr(data-text);
    font-weight: 2000;
    position: absolute;
    color: rgb(238, 238, 238);
    background-color: #00000005;
    animation: fl2 3s infinite linear;
  }
  
  @keyframes fl1 {
    30%{
      transform: translateY(1%) rotate(0.5deg);
    }
    70%{
      transform: translateY(1%) rotate(-0.3deg);
    }
  }
  
  @keyframes fl2 {
    30%{
    clip-path: polygon(0 0,100% 0,100% 4%,0 6%);
    }
    70%{
    clip-path: polygon(0 0,100% 0,100% 6%,0 4%);
    }
  }
/*Footer*/
footer{
  color: rgb(255, 255, 255);
  padding: 80px 0;
  text-align: center;
  background-color: #111010;
}

.copyright{
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.copyright a{
  font-size: 16px;
  color: #ca5143ee;
  font-weight: 500;
}
